<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">

    <xacro:include filename="$(find waver_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find waver_description)/urdf/util.xacro" />

    <!-- This is just to position the camera mesh to correct place on the robot-->
    <link name="camera_link">
        <inertial>
            <mass value="${mass_camera}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1.3010226e-05" iyy="1.6209553e-05" izz="2.1055697e-05" ixy="0.0" iyz="0.0"
                ixz="0.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 ${-pi/2}" />
            <geometry>
                <mesh filename="package://waver_description/meshes/IMX335.stl" scale="${scale}" />
            </geometry>
            <xacro:black_material />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 ${-pi/2}" />
            <geometry>
                <mesh filename="package://waver_description/meshes/IMX335.stl" scale="${scale}" />
            </geometry>
        </collision>
    </link>

    <!-- This is the actual position of the sensor on the robot / 
    It has to be at the very front of the camera lens such as there is no camera parts in the image frame-->
    <joint name="camera_joint" type="fixed">
        <origin xyz="0.14 0 ${base_to_top + 0.015}" rpy="0 0 0" />
        <parent link="top_shell_link" />
        <child link="camera_link" />
    </joint>

</robot>
