<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar">

    <xacro:include filename="$(find waver_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find waver_description)/urdf/util.xacro" />

    <link name="ldlidar_link">
        <inertial>
            <mass value="${mass_lidar}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1.3010226e-05" iyy="1.6209553e-05" izz="2.1055697e-05" ixy="0.0" iyz="0.0"
                ixz="0.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.027" rpy="0 0 ${pi/2}" />
            <geometry>
                <mesh filename="package://waver_description/meshes/LD19.stl" scale="${scale}" />
            </geometry>
            <xacro:black_material />
        </visual>
        <collision>
            <origin xyz="0 0 -0.027" rpy="0 0 ${pi/2}" />
            <geometry>
                <mesh filename="package://waver_description/meshes/LD19.stl" scale="${scale}" />
            </geometry>
        </collision>
    </link>

    <joint name="lidar_joint" type="fixed">
        <origin xyz="0.05 0 ${base_to_top + 0.05}" rpy="0 0 0" />
        <parent link="top_shell_link" />
        <child link="ldlidar_link" />
    </joint>

</robot>
