<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="waver_gazebo">
  <xacro:macro name="waver_robot_gazebo">

    <xacro:include filename="$(find waver_description)/urdf/util.xacro" />

      <!-- =============== Gazebo =============== -->
      <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">

          <left_joint>wheel_front_left_joint</left_joint>
          <left_joint>wheel_back_left_joint</left_joint>
          <right_joint>wheel_front_right_joint</right_joint>
          <right_joint>wheel_back_right_joint</right_joint>

          <wheel_separation>0.188</wheel_separation>
          <wheel_radius>40.6e-3"</wheel_radius>

          <!-- Control gains and limits (optional) -->
          <max_velocity>1.25</max_velocity>                <!-- Max linear velocity in m/s -->
          <max_linear_acceleration>1</max_linear_acceleration>
          <min_linear_acceleration>-1</min_linear_acceleration>
          <max_angular_acceleration>2</max_angular_acceleration>
          <min_angular_acceleration>-2</min_angular_acceleration>
          <!-- <max_linear_velocity>0.5</max_linear_velocity>
          <min_linear_velocity>-0.5</min_linear_velocity>
          <max_angular_velocity>1</max_angular_velocity>
          <min_angular_velocity>-1</min_angular_velocity> -->

          <topic>cmd_vel</topic> 
          <odom_topic>odom</odom_topic>
          <frame_id>odom</frame_id> 
          <child_frame_id>base_footprint</child_frame_id> 
          <odom_publisher_frequency>30</odom_publisher_frequency> 

          <tf_topic>/tf</tf_topic> 

        </plugin>
        <plugin
            filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic> 
            <left_joint>wheel_front_left_joint</left_joint>
            <left_joint>wheel_back_left_joint</left_joint>
            <right_joint>wheel_front_right_joint</right_joint>
            <right_joint>wheel_back_right_joint</right_joint>
        </plugin>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
          <render_engine>ogre2</render_engine>
        </plugin>
        <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
        </plugin>
      </gazebo>

      <gazebo reference="ldlidar_link" >
        <sensor name="${lidar_model}" type="gpu_lidar">
          <gz_frame_id>ldlidar_link</gz_frame_id>
          <topic>scan</topic>
          <update_rate>${lidar_frequency}</update_rate>
          <lidar>
            <scan>
              <horizontal>
                <samples>${lidar_samples}</samples>
                <resolution>${lidar_resolution}</resolution>
                <min_angle>${lidar_min_angle}</min_angle>
                <max_angle>${lidar_max_angle}</max_angle>
              </horizontal>
              <!-- <vertical>
                <samples>1</samples>
                <resolution>0.1</resolution>
                <min_angle>0.0</min_angle>
                <max_angle>0.0</max_angle>
              </vertical> -->
            </scan>
            <range>
              <min>${lidar_min_range}</min>
              <max>${lidar_max_range}</max>
              <resolution>0.01</resolution>
            </range>
            <frame_id>ldlidar_link</frame_id>
          </lidar>
          <alwaysOn>1</alwaysOn>
          <visualize>true</visualize>
        </sensor>
      </gazebo>

      <gazebo reference="imu_link" >
        <sensor name="imu_sensor" type="imu">
          <gz_frame_id>imu_link</gz_frame_id>
          <topic>imu</topic>
          <update_rate>200</update_rate>
          <always_on>1</always_on>
          <visualize>true</visualize>
        </sensor>
      </gazebo>

      <gazebo reference="base_link">
        <sensor name="camera_sensor" type="camera">
          <gz_frame_id>base_link</gz_frame_id>
          <topic>camera/image_raw</topic>
          <update_rate>30</update_rate>
          <camera>
            <horizontal_fov>1.57</horizontal_fov> <!-- 90 degrees FOV -->
            <image>
              <width>640</width>
              <height>480</height>
              <format>R8G8B8</format> <!-- RGB format -->
            </image>
            <clip>
              <near>0.01</near>
              <far>100.0</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
          <always_on>1</always_on>
          <visualize>true</visualize>
        </sensor>
      </gazebo>

      <gazebo reference="base_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/DarkGrey</material>
      </gazebo>

      <gazebo reference="top_shell_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/DarkGrey</material>
      </gazebo>

      <gazebo reference="accessories_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/Black</material>
      </gazebo>

      <gazebo reference="accessories1_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/Black</material>
      </gazebo>

      <gazebo reference="imu_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/Orange</material>
      </gazebo>

      <gazebo reference="oled_screen_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/BlueGlow</material>
      </gazebo>

      <gazebo reference="wheel_back_left_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/Black</material>
      </gazebo>

      <gazebo reference="wheel_front_left_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/Black</material>
      </gazebo>

      <gazebo reference="wheel_front_right_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/Black</material>
      </gazebo>

      <gazebo reference="wheel_back_right_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/Black</material>
      </gazebo>
  </xacro:macro>
</robot>
